h1 {
    color: green;
}

button {
    color: red;
}

.size-test {
    height: 100px;
    width: 100px;
    background-color: lightskyblue;
    border: 1px solid brown;

    /* padding: 10px; */
}

.inner {
    height: 80px;
    width: 80px;
    background-color: red;
    margin: 10px;
    border: 1px solid greenyellow;
}